@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-datepicker/dist/react-datepicker.css";
@import 'react-quill/dist/quill.snow.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html, body {
  font-family: 'Inter', sans-serif;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


input[type='checkbox'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: #F9F9F9;
  /* Not removed via appearance */
  /* margin: 6px 0 0; */
  cursor: pointer;
  font: inherit;
  color: #000;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  border: 1px solid #E0E0E0;
}

input[type='checkbox']::before {
  content: '';
  width: 0.95em;
  height: 0.75em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  border-radius: 10px;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #191919;
  /* Windows High Contrast Mode */
  background-color: #F9F9F9;
  /* background-image: url('https://icons8.com/icon/sz8cPVwzLrMP/check-mark-emoji'); */
  cursor: pointer;
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

input[type='checkbox']:focus {
  outline: max(2px, 0.15em) solid transparent;
  outline-offset: max(2px, 0.15em);
}

.react-datepicker-wrapper {
  width: 100%;
}

.quill {
  display: flex;
  flex-direction: column-reverse;
}

.ql-toolbar.ql-snow {
  border-radius: 0 0 20px 20px;
  border-top: 1px solid #EDEEEF !important;
  border: 1px solid #EDEEEF !important;
}

.ql-container.ql-snow {
  border-radius: 20px 20px 0 0;
  border: 1px solid #EDEEEF !important;
  border-bottom: 0 !important;
}